<VirtualHost {{ t_listen_ip }}:{{ t_forward_listen_port }}>
    
    ErrorLog "logs/error_forward_proxy_log"
    CustomLog "logs/access_forward_proxy_log" combined

    ProxyRequests On
    ProxyVia On
    ProxyTimeout 60

    <Proxy *>
      Require local
      Require ip {{ t_allowed_ip }}
    </Proxy>

</VirtualHost>
