<VirtualHost {{ t_listen_ip }}:{{ t_reverse_listen_port }}>

    ErrorLog "logs/error_reverse_proxy_log"
    CustomLog "logs/access_reverse_proxy_log" combined

    {% if t_ssl_enabled %}
    SSLEngine on

    SSLCertificateFile {{ t_ssl_cert_file_filepath }}

    SSLCertificateKeyFile {{ t_ssl_cert_key_filepath }}
    {% endif %}

    ProxyRequests Off

    {% if t_ssl_proxy %}
    SSLProxyVerify {% if t_ssl_proxy_verify %}require{% else %}none{% endif %}

    SSLProxyCheckPeerName {% if t_ssl_proxy_check_peer_name %}on{% else %}off{% endif %}

    SSLProxyEngine on

    {% if t_ssl_proxy_verify %}
    SSLProxyCACertificateFile {{ t_ssl_proxy_ca_certificate_filepath }}
    {% endif %}
    {% endif %}

    {% for t_proxy_url in t_proxy_urls %}
    ProxyPass "{{ t_proxy_url.source }}" "{{ t_proxy_url.target }}"
    ProxyPassReverse "{{ t_proxy_url.source }}" "{{ t_proxy_url.target }}"
    {% endfor %}

</VirtualHost>
